name: Build

on:
  push:
    branches:
     - main
  pull_request:
    branches:
     - main

jobs:
  build:
   name: Build & Push Multi-Arch Docker Image
   runs-on: ubuntu-latest
  
   steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login docker
      uses: docker/login-action@v3
      with:
       username: ${{ secrets.DOCKER_USERNAME }}
       password: ${{ secrets.DOCKER_PASSWORD }}
       
    - name: Set short SHA
      id: vars
      run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV

    - name: Build and push
      uses: docker/build-push-action@v5
      with:
       context: .
       push: true
       tags: |
        lmlasmo/tasklist:latest
        lmlasmo/tasklist:${{ env.SHORT_SHA }}
       platforms: linux/amd64,linux/arm64
       cache-from: type=registry,ref=lmlasmo/tasklist:cache
       cache-to: type=registry,ref=lmlasmo/tasklist:cache,mode=ma
