name: Pull request verification

on:
  pull_request:
    branches:
     - main
    paths:
     - 'src/**'
     - 'pom.xml'

jobs:
  verify:
    name: Verify
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Set up java 17
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: 17
          cache: maven
          
      - name: Run tests
        run: mvn test
